doctype html
html(lang="en")
  head
    title= title
    link(href='/assets/css/highlight.js/agate.css', rel='stylesheet')
    link(href='/assets/css/app.css', rel='stylesheet')
  body
    div(class='app')
      aside(class='app-sidebar')
        div(class="sidebar-header")
          h2 MDoc
          p Markdown Documentation
        ul(class="sidebar-body sticky")
          each item in menuList
            li(class= item.title == menu ? "active": "")
              if item.icon != undefined
                a(href= item.url)
                  i(class='icon fa ' + item.icon)
                  span= item.title
              else
                a(href= item.url)= item.title
              if item.submenu.length > 0
                ul
                  each subitem in item.submenu
                    li
                      a(href= subitem.url)= subitem.title

      div(class='app-container')
        div(class='container')!= body
    scripts(src='/assets/js/app.js')